body{
	background:url(http://rlv.zcache.com/fancy_letter_e_sticker-rbf5213c5d61540ce9bd1e0cc5dc677f3_v9waf_8byvr_512.jpg) center center no-repeat fixed;
}

nav ul {
  background-color:80E881;
  overflow: hidden;
  padding-left: 0px;
  margin-bottom: 0px;
  list-style-type: none;
}

nav a {
  display:block;
  width: 120px;
  text-align: center;
  float: left;
  padding: 20px;
  text-decoration: none;
  font-family:Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  font-size:30;
	font-style:italic;
  color: 66549C;
  text-transform: lowercase;
  border-right: 1px solid rgba(0,0,0,0.2);
}

nav a:hover {;
  color:blue;
  border-radius: 2px;
} 



h1{
	background-color:80E881;
	padding:10px;
	text-transform: lowercase;
	font-weight:normal;
	font-family:Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
	color:66549C;
	font-size:30;
	font-style:italic;
}

.guide{
	padding:10px;
	margin:30px;
	font-weight:normal;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size:normal;
}

.event{
	padding:10px;
	margin:30px;
	font-weight:normal;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	background-color:7BBCE8;
	color:white;
	font-size:normal;
}