body{
	background:url(http://rlv.zcache.com/fancy_letter_e_sticker-rbf5213c5d61540ce9bd1e0cc5dc677f3_v9waf_8byvr_512.jpg) center center no-repeat fixed;
}

a{
  color:66549C;
  text-decoration: none;
}

a:visited{
  color:66549C;
}

nav ul {
  background-color:80E881;
  overflow: hidden;
  padding-left: 0px;
  margin-bottom: 0px;
  list-style-type: none;
}

nav li{
	display:block;
  width: 120px;
  text-align: center;
  float: right;
  padding: 20px;
  text-decoration: none;
  font-family:Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  font-size:30;
	font-style:italic;
  color: 66549C;
  text-transform: lowercase;
  border-right: 1px solid rgba(0,0,0,0.2);
}

nav a:hover {;
  color:blue;
  border-radius: 2px;
}



h1, h2, h3, h4{
  padding-left:20px;
	text-transform: lowercase;
	font-weight:normal;
	font-family:Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
	color:66549C;
	font-size:30;
	font-style:italic;
}

.guide{
	padding:8px;
	margin:30px;
	font-weight:normal;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size:normal;
}

.event{
	padding:8px;
	margin:30px;
	font-weight:normal;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	background-color:7BBCE8;
	color:white;
	font-size:normal;
	border-radius:8;
  opacity:0.65;
}

.event:hover{
	background-color:blue;
}

form p{
  margin:0px;
  padding:8px;
}

.button{
  font-size:medium;
  text-transform:lowercase;
  color:66549C;
  background-color:7BBCE8;
  border:1px solid;
  border-color: 66549C;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  border-top-right-radius:10;
  border-bottom-left-radius:10;
  font-style:italic;
  box-shadow:1px 1px 4px 66549C;
}

.button:hover{
  background-color:blue;
  border-color:white;
  color:white;
}