
<form class="guide" method='post' action='/create_event'>
  <label>Title:</label><input type='text' name='title' required><br/>
  <label>Description:</label><input type='text' name='desc'><br/>
  <label>Date:</label><input type='date' name='date' required><br/>
  <label>Time:</label><input type='time' name='time' required>  <br/>
  <label>Location:</label><input type='text' name='location'><br/>

  <input type='submit'>
</form>