<%= "Welcome, #{current_user.firstname} #{current_user.lastname}" if current_user %>
<p class="guide">Event.ly is your one-stop home for online events.</p>
<p class="event">It's an event!</p>
<p class="event">Another event!</p>
<p class="event">Another event!</p>
<p class="event">Another event!</p>
<p class="event">Another event!</p>
<p class="event">Another event!</p>
<p class="event">Another event!</p>
<p class="event">Another event!</p>
<p class="event">Another event!</p>
<p class="event">Another event!</p>
<p class="event">Another event!</p>
<p class="event">Another event!</p>
<p class="event">Another event!</p>
<p class="event">Another event!</p>