<% if current_user %>

<%= "<h3>Welcome, #{current_user.firstname} #{current_user.lastname}</h3>" if current_user %>
<% else %>
<h3>Event.ly is your one-stop home for online events</h3>
<% end %>
<p class="event">It's an event!</p>
<p class="event" onmousedown="draggable()">Elephant!</p>
<p class="event" onmousedown="draggable()">Banana!</p>
<p class="event" onmousedown="draggable()">Heathen!</p>
<p class="event" onmousedown="draggable()">EVENTS!</p>
<p class="event" onmousedown="draggable()">AgAiN!</p>
<p class="event" onmousedown="draggable()">Red!</p>
<p class="event" onmousedown="draggable()">Another event!</p>
<p class="event" onmousedown="draggable()">Another event!</p>
<p class="event" onmousedown="draggable()">Turquoise!</p>
<p class="event" onmousedown="draggable()">Tarzan!</p>
<p class="event" onmousedown="draggable()">YES!</p>
<p class="event" onmousedown="draggable()">NO!</p>
<p class="event" onmousedown="draggable()">MAYBE!</p>