<html>
<head>
	<title>Event.ly</title>
	<link href="/style.css" rel="stylesheet">
</head>
<body>
	<nav>
		<ul>
			<li><a>Event.ly</a></li>
			<li><a>Login</a></li>
		</ul>
	</nav>
	<%= yield %>
</body>
</html>