<html>
<head>
	<title>Event.ly</title>
	<link href="/style.css" rel="stylesheet">
</head>
<body>
	<nav>
		<ul>
			<li><% if current_user %>
				<a href="/logout">Logout</a>
				<% else %>
				<a href="/login">Login</a>
				<% end %></li>
			<li><% if current_user %>
				<a href="/events/create">New Event</a>
			  <% else %>
				<a href="/signup">Sign Up</a>
			  <% end %>
			</li>
			<li><a href="/">Event.ly</a></li>
		</ul>
	</nav>
	<%= yield %>
</body>
</html>