<html>
<head>
	<title>Event.ly</title>
	<link href="/style.css" rel="stylesheet">
	<link href="/images/evently.ico" rel="icon">
</head>
<body>
	<nav>
		<ul>
			<li><% if current_user %>
				<a href="/logout">Logout</a>
				<% else %>
				<a href="/login">Login</a>
				<% end %></li>
			<li><% if current_user %>
				<a href="/events/create">New Event</a>
			  <% else %>
				<a href="/signup">Sign Up</a>
			  <% end %>
			</li>
			<% if current_user %>
			  <li id="name"><a href="/"><%= current_user.firstname + ' ' + current_user.lastname %></a></li>
			<% else %>
			  <li><a href="/">Event.ly</a></li>
			<% end %>
		</ul>
	</nav>
	<%= yield %>
	<script type="text/javascript" src="/javascripts/evently.js"></script>
</body>
</html>