
<h3>Login Information</h3>
<form method="post" action="/login" class="guide">
  <p><label class="login_input" for="email">Email:</label><br><input align="lefts" name="email"></p>
  <p><label class="login_input" for="password">Password:</label><br><input name="password"></p>
  <p><input type="submit" class="button"></p>
</form>