<form class="guide" method="post" action='/events/<%= @event.id %>'>
  <label>Name: </label><input type='text' name='name' required><br/>
  <label>Email: </label><input type='text' name='email' required><br/>
  <label>RSVP: </label><select name="rsvp">
<option value="true">Yes</option>
<option value="false">No</option>
</select><br/>
<input type='submit'>
</form>