<h3>Sign Up Information</h3>
<form method="post" action="/signup" class="guide">
  <p><label class="login_input" for="firstname">First Name:</label><br><input name="firstname"></p>
  <p><label class="login_input" for="lastname">Last Name:</label><br><input name="lastname"></p>
  <p><label class="login_input" for="email">Email:</label><br><input name="email"></p>
  <p><label class="login_input" for="password">Password:</label><br><input name="password"></p>
  <p><input type="submit" class="button" value="Create Account"></p>
</form>